pandas
numpy<2.0.0
ujson
requests
jupyterlab
ipywidgets
matplotlib
igraph
networkx
scipy
scikit-learn
umap-learn
xnetwork
beautifulsoup4
sentence-transformers
emlens
botometer
spacy
pyarrow
nltk
atproto
