pandas
numpy<2.0.0
ujson
requests
jupyterlab
ipywidgets
protobuf==3.20.*
allennlp
matplotlib
pytorch
pyvis
igraph
networkx
scipy
scikit-learn
umap-learn
xnetwork
beautifulsoup4
sentence-transformers
emlens
